/* Colors: 
--white: #ffffffff;
--davys-grey: #595959ff;
--gray-web: #7f7f7fff;
--electric-purple: #b14aedff;
--russian-violet: #0c0a3eff;
*/

/* General Start */
body {
  background-color: #ffffff;
  color: #0c0a3eff;
}

/* General END */

/* Above the break START */
#about-container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 1em;
}

#about-container a {
  color: #b14aedff;
  text-decoration: none;
}

#about-container a:hover {
  color: #595959ff;
}

#animation-container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.landing > div {
  height: 100vh;
  overflow: auto;
}

#animation {
  position: relative;
  height: 500px;
  width: 500px;
}

.orbit-1 {
  position: absolute;
  top: 200px;
  left: 200px;
  width: 100px;
  height: 100px;
  border: 1px #59595933 solid;
  border-radius: 100%;
  -webkit-animation: orbit 3s linear infinite;
  animation: orbit 3s linear infinite;
}

.orbit-circle-1 {
  position: absolute;
  top: 55px;
  left: -2px;
  height: 5px;
  width: 5px;
  border-radius: 100%;
  background-color: #0c0a3eff;
}

.orbit-2 {
  position: absolute;
  top: 150px;
  left: 150px;
  width: 200px;
  height: 200px;
  border: 1px #59595933 solid;
  border-radius: 100%;
  -webkit-animation: orbit 8s linear infinite;
  animation: orbit 8s linear infinite;
}

.orbit-circle-2 {
  position: absolute;
  top: 62px;
  left: 0px;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: #0c0a3eff;
}

.orbit-3 {
  position: absolute;
  top: 110px;
  left: 110px;
  width: 280px;
  height: 280px;
  border: 1px #b14aed33 solid;
  border-radius: 100%;
  -webkit-animation: orbit 10s linear infinite;
  animation: orbit 10s linear infinite;
}

.orbit-circle-3 {
  position: absolute;
  top: 80px;
  left: 5px;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: #b14aedff;
}

.orbit-4 {
  position: absolute;
  top: 85px;
  left: 85px;
  width: 330px;
  height: 330px;
  border: 1px #59595933 solid;
  border-radius: 100%;
  -webkit-animation: orbit 13s linear infinite;
  animation: orbit 13s linear infinite;
}

.orbit-circle-4 {
  position: absolute;
  top: 100px;
  left: 0px;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background-color: #0c0a3eff;
}

.orbit-5 {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 400px;
  height: 400px;
  border: 1px #59595933 solid;
  border-radius: 100%;
  -webkit-animation: orbit 20s linear infinite;
  animation: orbit 20s linear infinite;
}

.orbit-circle-5 {
  position: absolute;
  top: 150px;
  left: 0px;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: #0c0a3eff;
}

@keyframes orbit {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Above the break END */

/* Contact START */

.contact {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 8%,
    rgba(12, 10, 62, 1) 9%,
    rgba(12, 10, 62, 1) 100%
  );
  color: #ffffff;
}

.contact > div {
  height: 100vh;
  overflow: auto;
}

#contact-container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 1em;
}

#contact-animation-container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.contact a {
  color: #ffffff;
  text-decoration: none;
}

.contact a:hover {
  color: #b14aedff;
  text-decoration: none;
}

.contact a:active {
  color: #7f7f7fff;
}

#contact-list {
  list-style: none;
}

#contact-list > li {
  margin: 0.5em 0;
}

/* Contact END */
